   html {
       height: 100vh;
       width: 100vw;
   }

   body {
       background-color: white;
       color: black;
       transition: background-color 0.3s ease;
       margin-right: 10%;
       margin-left: 10%;
       font-size: 17px;
       height: 100vh;
       width: 80vw;
   }

   iframe[seamless] {
       border: none;
       min-height: 90vh;
   }


   .header {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       padding: 1em;
       background-color: #148ef2;
       border-radius: 0.5em;
   }

   .tabs {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       list-style-type: none;
       margin: 0;
       padding: 0.5em;
       gap: 0.5em;
       overflow: hidden;
   }

   .tabs li {
       flex-grow: 1;
       border-radius: 0.5em;
   }

   .tabs li a {
       border-radius: 0.3em;
       display: block;
       padding: 0.5em;
       background-color: #f1f1f1;
       color: #333;
       text-decoration: none;
       transition: 0.3s;
   }

   .tabs li a.active {
       background-color: #ccc;
   }

   .tabs li a:hover {
       background-color: #9d9999;
   }

   .tab-content {
       display: none;
       padding: 1em;
   }

   .tab-content.active {
       display: flex;
       flex-direction: column;
   }

   .working-info {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-top: 1em;
   }

   .working-info span {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;

   }

   /* The container */
   .check-day-cont {
       display: block;
       position: relative;
       padding-left: 35px;
       margin-bottom: 12px;
       cursor: pointer;
       font-size: 22px;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
   }

   .check-day-cont input {
       position: absolute;
       opacity: 0;
       cursor: pointer;
       height: 0;
       width: 0;
   }

   .checkmark {
       position: absolute;
       top: 0;
       left: 0;
       height: 25px;
       width: 25px;
       background-color: #eee;
       border-radius: 50%;
   }

   .check-day-cont:hover input~.checkmark {
       background-color: #ccc;
   }

   .check-day-cont input:checked~.checkmark {
       background-color: #2196F3;
   }

   .checkmark:after {
       content: "";
       position: absolute;
       display: none;
   }

   .check-day-cont input:checked~.checkmark:after {
       display: block;
   }

   .check-day-cont .checkmark:after {
       left: 9px;
       top: 5px;
       width: 5px;
       height: 10px;
       border: solid white;
       border-width: 0 3px 3px 0;
       transform: rotate(45deg);
   }

   .working-hours {
       display: flex;
       align-items: center;
       gap: 10px;
       max-width: min-content;
   }

   input[type=number],
   select {
       padding: 0.8em;
       font-size: 16px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   input[type=number]:focus,
   select:focus {
       outline: none;
       border-color: #2196F3;
       box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
   }

   button {
       border: 1px solid #ccc;
       border-radius: 0.3em;
       padding: 1em;
       max-width: max-content;
       align-self: center;
       margin: 0.5em;
   }