html {
    width: 500px !important;
    height: 280px !important;

    margin: 0;
}

body {
    width: 500px !important;
    height: 280px !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

a {
    cursor: pointer;
    user-select: none;
}

a:hover {
    text-decoration: underline;
}

.time-info {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    max-height: fit-content;
}

.website-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.timer {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    max-height: fit-content;
}

.site-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    padding: 0.3em;
}

.site-icon {
    background-color: black;
}

.links {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
    gap: 0.3em;
    margin-top: auto;
}

.time-cell {
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 25px;
}