html {
    width: 500px !important;
    height: 300px !important;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

body {
    width: 500px !important;
    height: 300px !important;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    cursor: pointer;
    user-select: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    padding: 0;
    flex-grow: 0;
    margin: 0;
}

.time-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
    gap: 0.3em;
    flex-grow: 1;
    user-select: none;
}

.focus-time {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    max-height: fit-content;
}

.website-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.site-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.links {
    flex-grow: 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
    gap: 0.3em;
}

.time-cell {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: bold;
}